
body {
    line-height: 1;
     font: 14px Arial;
background: #dadfeb;}
 ul {
	list-style: none;
}
.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
 clear: both;
}

.left{float:left;}
.right{float: right;}
.text-right{text-align: right;}
.text-left{text-align: left;}

#wrapper{
    max-width: 1600px;
   }
    .container{
        max-width: 960px;
        margin: 0 auto;
 
    }
#header{
     background: linear-gradient(to top, #ecf1fd, #c6cfe4 );    
       }
       .logo{
           letter-spacing: -1px;
           display: inline-block;
           width: 250px;
           margin: 22px 0 15px 0;
           font: 45px/22px Arial;
           font-weight: bold;
           color: #39579b;
       }
       .lgsmall{
           letter-spacing: 0px;
           font: 14px Arial;
           color: #3d5ba4;
       }
       .top-menu{
           float: right;
           margin-top: 31px;
       }
          .top-menu li {
                float:left;
              margin-right: 9px;
       }
.top-menu :last-child{
    margin-right: 0px;
}
       .top-menu li a{
           display: block;
           font: 13px Arial;
            font-weight: bold;
            color: #2f57a1;
           padding: 6px 15px;
       
       }
       .top-menu li a:hover{
           color: black;
            background: linear-gradient(to top, #c8c8c8, #fefefe ); 
           border-radius: 15px;
    
}

#slider{
         background: url(../img/bg.jpg) center no-repeat;
         height: 500px;
         
}  
      .top-slider{  
          max-width: 100%;
          margin: 0 auto;
          box-sizing: border-box;
          padding: 25px 15px 25px 15px;
}
.slider-img{
   width: 100%;
  height: auto;
}

     
#add-info{
     margin: 10px 0 20px 0;
     }
     #add-info .container{
         
          border-bottom: 2px solid #fff;
     }
     .button-span{
         display: inline-block;
         width: 62%;
           font: 36px/36px Arial;
         margin-top: 12px;
     }
     .block-button{
         box-sizing: border-box;
          background: linear-gradient(to top, #a8bbef, #2e549f );
         border: 5px solid #ffffff;
         border-radius: 15px;
         margin-bottom: 19px;
         height: 95px;
     }
     .button-img{
       padding: 25px 0 25px 20px;
     }
     .button-a{
         word-spacing: 1px;
         padding: 16px 25px;
         font: 25px Myriad Pro;
         float: right;
         color: #fff;
         text-transform: uppercase;
     }
     .button-sp{
         font: 35px/35px Myriad Pro;
     }
#blocks{
           margin:35px 0 28px 0;
       }
.heading :last-child{
    margin-right: 0;
}
       .block{
           float: left;
           display: inline-block;
           margin: 0 auto;
           border-radius: 5px;
           background: #fff;
           text-align: center;
           margin-right: 3%;
           width:22.75%;
           height: 315px;
           margin-top: 5px;
           box-sizing: border-box;
       }
       #block :last-child{
           margin-right:0;
       }
       .block-img{
           padding: 10%;
           width: 80%;
           padding-bottom: 13px;
       }
       .block-h{
           font: 20px Arial;
           font-weight: bold;   
       }
       .block-p{
           font-size: 13px;
           color: #545668;
           text-align: left;
           margin-left: 20px;
       }
       .block-a{
           display: block;
           width: 100px;
           font-size: 13px;
           color: #2945c0;
           margin-left: 9%;
           margin-top:13px;
           background: linear-gradient(to top, #dadfeb, #fefefe ); 
           border-radius: 15px;
           border: 1px solid #c6ccdc;
            padding: 3px 5px;
       }
#content{

        }
        .content{
           overflow: hidden;
           margin-bottom: 36px;
        }
        
        .content-left{
            width: 21%;
            margin-right: 5%;
        }
.content-middle{
     width: 21%;
    margin-right: 4%;
}
        .content-left-one{
            margin-bottom: 28px;
                }

                .content-right{
            width: 48%;
                    margin-left: 6px;
        }
        .content-left-h,.content-right-h{
            margin-top: 19px;
            font: 15px Arial;
            font-weight: bold;
            color: #132445;
            margin-left: 9px;
        }
.content-right-h{
    margin-top: 8px;
    margin-left: 0px;
}
        .content-left-p{
            margin-top: 37px;
             font: 13px Arial; 
            color: #132445;
        }
        .content-right-p{
               font: 13px/24px Arial; 
            color: #132445;
            margin-top: 7px;
        }
        .content-right-a{
            display: block;
            margin-top: 7px;
            text-decoration: underline;
        }
#footer{
           background: #565f81;
           padding: 25px 0 55px 0;
       }
        .footer-link{
           margin-bottom: 5px;
       }
        .footer-link li {
                   float:left;
                padding-right: 10px;
              }
         .footer-link li a{
                  display: block;
                  font: 13px Arial;
                   color: #dadfeb;
              }
       .footer-span{
           font: 12px Arial;
           color: #9fa8bd;
       }
       .social li{
           float: left;
           padding-left: 15px;
       }
       .social-span{
           margin-right: 9px;
           margin-top:8px;
           font: 13px Arial;
           color: #dadfeb;
       }
@media screen and (max-width:940px){
    .button-span{
           font: 28px Arial;
     }
    .button-sp{
         font: 23px Myriad Pro;
     }
}
@media screen and (max-width:740px){
    .button-span{
           font: 22px Arial;
     }
    .button-a{
        padding: 15px 20px;
         font: 18px Myriad Pro;
    }
    .button-sp{
         font: 20px Myriad Pro;
     }
    .logo{
        margin: 15px 0 0 0;
        text-align: center;
        float: none;
    }
    .header-link{
        float: none;
        margin-left: 15%;
    }
    .block{
        width: 40%;
       margin: 10px 2% 15px 3%;
    }
}
@media screen and (max-width:610px){
    .header-link li a{
        padding: 4px 10px;
    }
    .button-img{
       padding: 10px 0 10px 10px;
     }
     .button-span{
           font: 16px Arial;
     }
    .button-a{
        padding: 10px 15px;
         font: 14px Myriad Pro;
    }
    .button-sp{
         font: 16px Myriad Pro;
     }
    .block{
        width: 40%;
       margin: 10px 2% 15px 3%;
    }
    .content-left,.content-middle{
        width: 45%;
        font: 10px;
    }
.content-right{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    }
    .content-left{
        margin-left: 2%;
    }
    .header-link{
         margin-left:0;
    }
}


